<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{/presentation/fragments/fragment-head :: head}"></div>
</head>
<body class="bg-gradient-primary">
<div th:replace="~{/presentation/fragments/fragment-header :: header(${username != null ? username : null})}"></div>
<div th:replace="~{/presentation/fragments/fragment-svg :: svg}"></div>
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-md-center">
                        <div class="col-lg-6 ">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                                </div>
                                <!--<form class="user" id="loginForm" onsubmit="loginUser(event)">-->
                                <form class="user" th:action="@{/api/auth/login}" method="post">
                                    <div class="form-group mb-3">
                                        <input type="text" id="usernameInput" class="form-control form-control-user"
                                               placeholder="휴대폰 번호" name="username" required>
                                    </div>
                                    <div class="form-group mb-3">
                                        <input type="password" id="passwordInput" class="form-control form-control-user"
                                               placeholder="비밀번호" name="password" required>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary btn-xl">
                                        로그인
                                    </button>
                                    <hr>
                                </form>
                                <div class="text-center">
                                    <a class="small" href="/register">계정이 없으신가요? 회원가입하기</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<div th:replace="~{presentation/fragments/fragment-footer :: footer}"></div>
</body>
</html>
